:root {
    --ref-palette-primary-0: #000000;
    --ref-palette-primary-10: #21005D;
    --ref-palette-primary-20: #ffffff;
    --ref-palette-primary-30: #4F378B;
    --ref-palette-primary-40: #6750A4;
    --ref-palette-primary-50: #ffffff;
    --ref-palette-primary-60: #ffffff;
    --ref-palette-primary-70: #ffffff;
    --ref-palette-primary-80: #D0BCFF;
    --ref-palette-primary-90: #EADDFF;
    --ref-palette-primary-95: #ffffff;
    --ref-palette-primary-98: #ffffff;
    --ref-palette-primary-99: #ffffff;
    --ref-palette-primary-100: #ffffff;

    --ref-palette-secondary-0: #000000;
    --ref-palette-secondary-10: #1D192B;
    --ref-palette-secondary-20: #ffffff;
    --ref-palette-secondary-30: #4A4458;
    --ref-palette-secondary-40: #625B71;
    --ref-palette-secondary-50: #ffffff;
    --ref-palette-secondary-60: #ffffff;
    --ref-palette-secondary-70: #ffffff;
    --ref-palette-secondary-80: #CCC2DC;
    --ref-palette-secondary-90: #E8DEF8;
    --ref-palette-secondary-95: #ffffff;
    --ref-palette-secondary-98: #ffffff;
    --ref-palette-secondary-99: #ffffff;
    --ref-palette-secondary-100: #ffffff;

    --ref-palette-secondary-30-rgb: 74, 68, 88;

    --ref-palette-tertiary-0: #000000;
    --ref-palette-tertiary-10: #31111D;
    --ref-palette-tertiary-20: #ffffff;
    --ref-palette-tertiary-30: #633B48;
    --ref-palette-tertiary-40: #7D5260;
    --ref-palette-tertiary-50: #ffffff;
    --ref-palette-tertiary-60: #ffffff;
    --ref-palette-tertiary-70: #ffffff;
    --ref-palette-tertiary-80: #EFB8C8;
    --ref-palette-tertiary-90: #FFD8E4;
    --ref-palette-tertiary-95: #ffffff;
    --ref-palette-tertiary-98: #ffffff;
    --ref-palette-tertiary-99: #ffffff;
    --ref-palette-tertiary-100: #ffffff;

    --ref-palette-error-0: #000000;
    --ref-palette-error-10: #000000;
    --ref-palette-error-20: #ffffff;
    --ref-palette-error-30: #8C1D18;
    --ref-palette-error-40: #B3261E;
    --ref-palette-error-50: #ffffff;
    --ref-palette-error-60: #ffffff;
    --ref-palette-error-70: #ffffff;
    --ref-palette-error-80: #ffffff;
    --ref-palette-error-90: #F9DEDC;
    --ref-palette-error-95: #ffffff;
    --ref-palette-error-98: #ffffff;
    --ref-palette-error-99: #ffffff;
    --ref-palette-error-100: #ffffff;

    --ref-palette-neutral-0: #000000;
    --ref-palette-neutral-10: #1D1B20;
    --ref-palette-neutral-20: #322F35;
    --ref-palette-neutral-30: #ffffff;
    --ref-palette-neutral-40: #ffffff;
    --ref-palette-neutral-50: #ffffff;
    --ref-palette-neutral-60: #ffffff;
    --ref-palette-neutral-70: #ffffff;
    --ref-palette-neutral-80: #ffffff;
    --ref-palette-neutral-87: #DED8E1;
    --ref-palette-neutral-90: #E6E0E9;
    --ref-palette-neutral-92: #ECE6F0;
    --ref-palette-neutral-94: #F3EDF7;
    --ref-palette-neutral-95: #F5EFF7;
    --ref-palette-neutral-96: #F7F2FA;
    --ref-palette-neutral-98: #fef7ff;
    --ref-palette-neutral-99: #ffffff;
    --ref-palette-neutral-100: #ffffff;
    --ref-palette-neutral-10-rgb: 29, 27, 32;
    --ref-palette-neutral-90-rgb: 230, 224, 233;
    --ref-palette-neutral-98-rgb: 254, 247, 255;


    --ref-palette-neutral-variant-0: #000000;
    --ref-palette-neutral-variant-10: #000000;
    --ref-palette-neutral-variant-20: #ffffff;
    --ref-palette-neutral-variant-30: #49454F;
    --ref-palette-neutral-variant-40: #ffffff;
    --ref-palette-neutral-variant-50: #79747E;
    --ref-palette-neutral-variant-60: #ffffff;
    --ref-palette-neutral-variant-70: #ffffff;
    --ref-palette-neutral-variant-80: #CAC4D0;
    --ref-palette-neutral-variant-90: #E7E0EC;
    --ref-palette-neutral-variant-92: #ffffff;
    --ref-palette-neutral-variant-94: #ffffff;
    --ref-palette-neutral-variant-95: #ffffff;
    --ref-palette-neutral-variant-96: #ffffff;
    --ref-palette-neutral-variant-98: #ffffff;
    --ref-palette-neutral-variant-99: #ffffff;
    --ref-palette-neutral-variant-100: #ffffff;


    /* ACCENT COLOR TOKENS */

    --sys-color-primary: var(--ref-palette-primary-40);
    --sys-color-on-primary: var(--ref-palette-primary-100);
    --sys-color-primary-container: var(--ref-palette-primary-90);
    --sys-color-on-primary-container: var(--ref-palette-primary-30);

    --sys-color-secondary: var(--ref-palette-secondary-40);
    --sys-color-on-secondary: var(--ref-palette-secondary-100);
    --sys-color-secondary-container: var(--ref-palette-secondary-90);
    --sys-color-on-secondary-container: var(--ref-palette-secondary-30);
    --sys-color-on-secondary-container-rgb: var(--ref-palette-secondary-30-rgb);


    --sys-color-tertiary: var(--ref-palette-tertiary-40);
    --sys-color-on-tertiary: var(--ref-palette-tertiary-100);
    --sys-color-tertiary-container: var(--ref-palette-tertiary-90);
    --sys-color-on-tertiary-container: var(--ref-palette-tertiary-30);


    --sys-color-error: var(--ref-palette-error-40);
    --sys-color-on-error: var(--ref-palette-error-100);
    --sys-color-error-container: var(--ref-palette-error-90);
    --sys-color-on-error-container: var(--ref-palette-error-30);

    /* SURFACE COLOR TOKENS */

    --sys-color-surface: var(--ref-palette-neutral-98);
    --sys-color-surface-rgb: var(--ref-palette-neutral-98-rgb);
    --sys-color-on-surface: var(--ref-palette-neutral-10);
    --sys-color-on-surface-rgb: var(--ref-palette-neutral-10-rgb);
    --sys-color-surface-variant: var(--ref-palette-neutral-variant-90);
    --sys-color-on-surface-variant: var(--ref-palette-neutral-variant-30);


    --sys-color-surface-container-highest: var(--ref-palette-neutral-90);
    --sys-color-surface-container-highest-rgb: var(--ref-palette-neutral-90-rgb);
    --sys-color-surface-container-high: var(--ref-palette-neutral-92);
    --sys-color-surface-container: var(--ref-palette-neutral-94);
    --sys-color-surface-container-low: var(--ref-palette-neutral-96);
    --sys-color-surface-container-lowest: var(--ref-palette-neutral-100);

    --sys-color-inverse-surface: var(--ref-palette-neutral-20);
    --sys-color-inverse-on-surface: var(--ref-palette-neutral-95);

    --sys-color-outline: var(--ref-palette-neutral-variant-50);
    --sys-color-outline-variant: var(--ref-palette-neutral-variant-80);



    /* ADD-ONS COLOR TOKENS */
    /* colores fixed no cambian con el tema claro/oscuro */

    --sys-color-primary-fixed: var(--ref-palette-primary-90);
    --sys-color-on-primary-fixed: var(--ref-palette-primary-10);
    --sys-color-primary-fixed-dim: var(--ref-palette-primary-80);
    --sys-color-on-primary-fixed-dim: var(--ref-palette-primary-30);
    --sys-color-inverse-primary: var(--ref-palette-primary-80);

    --sys-color-secondary-fixed: var(--ref-palette-secondary-90);
    --sys-color-on-secondary-fixed: var(--ref-palette-secondary-10);
    --sys-color-secondary-fixed-dim: var(--ref-palette-secondary-80);
    --sys-color-on-secondary-fixed-dim: var(--ref-palette-secondary-30);

    --sys-color-tertiary-fixed: var(--ref-palette-tertiary-90);
    --sys-color-on-tertiary-fixed: var(--ref-palette-tertiary-10);
    --sys-color-tertiary-fixed-dim: var(--ref-palette-tertiary-80);
    --sys-color-on-tertiary-fixed-dim: var(--ref-palette-tertiary-30);


    --sys-color-background: var(--ref-palette-neutral-98);
    --sys-color-on-background: var(--ref-palette-neutral-10);
    --sys-color-surface-bright: var(--ref-palette-neutral-98);
    --sys-color-surface-dim: var(--ref-palette-neutral-87);
    --sys-color-scrim: var(--ref-palette-neutral-0);
    --sys-color-shadow: var(--ref-palette-neutral-0);
}