:root{
    --sys-motion-duration-short1 : 50ms;
    --sys-motion-duration-short2 : 100ms;
    --sys-motion-duration-short3 : 150ms;
    --sys-motion-duration-short4 : 200ms;
    --sys-motion-duration-medium1 : 250ms;
    --sys-motion-duration-medium2 : 300ms;
    --sys-motion-duration-medium3 : 350ms;
    --sys-motion-duration-medium4 : 400ms;
    --sys-motion-duration-long1 : 450ms;
    --sys-motion-duration-long2 : 500ms;
    --sys-motion-duration-long3 : 550ms;
    --sys-motion-duration-long4 : 600ms;
    --sys-motion-duration-extra-long1 : 700ms;
    --sys-motion-duration-extra-long2 : 800ms;
    --sys-motion-duration-extra-long3 : 900ms;
    --sys-motion-duration-extra-long4 : 1000ms;

    --sys-motion-path : linear;

    --sys-motion-easing-emphasized :cubic-bezier(0.2, 0.0, 0.0, 1.0);
    --sys-motion-easing-emphasized-accelerate :cubic-bezier(0.3, 0.0, 0.8, 0.15);
    --sys-motion-easing-emphasized-decelerate :cubic-bezier(0.05, 0.7, 0.1, 1.0);

    --sys-motion-easing-standard :cubic-bezier(0.2, 0.0, 0.0, 1.0);
    --sys-motion-easing-standard-accelerate :cubic-bezier(0.3, 0.0, 1.0, 1.0);
    --sys-motion-easing-standard-decelerate :cubic-bezier(0.0, 0.0, 0.0, 1.0);

    --sys-motion-easing-linear :cubic-bezier(0.0, 0.0, 1.0, 1.0);

    
}

