:root {
    --comp-dialog-container-color: var(--sys-color-surface-container-high);
    --comp-dialog-container-elevation: var(--sys-elevation-level3);
    --comp-dialog-container-shape: var(--sys-shape-corner-extra-large);

    --comp-dialog-container-width-min: 17.5rem;
    --comp-dialog-container-width-max: 35rem;
    --comp-dialog-container-padding: 1.5rem;


    --comp-dialog-label-text-color: var(--sys-color-primary);
    --comp-dialog-label-text-font: var(--sys-typescale-label-large-font);
    --comp-dialog-label-text-weight: var(--sys-typescale-label-large-weight);
    --comp-dialog-label-text-size: var(--sys-typescale-label-large-size);
    --comp-dialog-label-text-line-height: var(--sys-typescale-label-large-line-height);
    --comp-dialog-label-text-tracking: var(--sys-typescale-label-large-tracking);

    --comp-dialog-icon-size: 1.5rem;
    --comp-dialog-icon-color: var(--sys-color-secondary);

    --comp-dialog-headline-color: var(--sys-color-on-surface);
    --comp-dialog-headline-font: var(--sys-typescale-headline-small-font);
    --comp-dialog-headline-weight: var(--sys-typescale-headline-small-weight);
    --comp-dialog-headline-size: var(--sys-typescale-headline-small-size);
    --comp-dialog-headline-line-height: var(--sys-typescale-headline-small-line-height);
    --comp-dialog-headline-tracking: var(--sys-typescale-headline-small-tracking);

    --comp-dialog-supporting-text-color: var(--sys-color-on-surface-variant);
    --comp-dialog-supporting-text-font: var(--sys-typescale-body-medium-font);
    --comp-dialog-supporting-text-weight: var(--sys-typescale-body-medium-weight);
    --comp-dialog-supporting-text-size: var(--sys-typescale-body-medium-size);
    --comp-dialog-supporting-text-line-height: var(--sys-typescale-body-medium-line-height);
    --comp-dialog-supporting-text-tracking: var(--sys-typescale-body-medium-tracking);


    --comp-dialog-action-hover-label-text-color: var(--sys-color-primary);
    --comp-dialog-action-hover-state-layer-color: var(--sys-color-primary);
    --comp-dialog-action-hover-state-layer-opacity: 0.08;


    --comp-dialog-action-focus-label-text-color: var(--sys-color-primary);
    --comp-dialog-action-focus-state-layer-color: var(--sys-color-primary);
    --comp-dialog-action-focus-state-layer-opacity: 0.1;
}

.comp-dialog {
    background-color: var(--comp-dialog-container-color);
    min-width: var(--comp-dialog-container-width-min);
    max-width: var(--comp-dialog-container-width-max);
    place-self: center;
    padding: var(--comp-dialog-container-padding);
    outline: none;
    border: none;
    border-radius: var(--comp-dialog-container-shape);
    box-shadow: var(--comp-dialog-container-elevation);
}

.comp-dialog>div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.comp-dialog .icon {
    text-align: center;
}

.comp-dialog .icon .material-icons {
    color: var(--comp-dialog-icon-color);
    width: var(--comp-dialog-icon-size);
    height: var(--comp-dialog-icon-size);
}

.comp-dialog .headline {
    text-align: center;
    color: var(--comp-dialog-headline-color);
    font-family: var(--comp-dialog-headline-font);
    font-weight: var(--comp-dialog-headline-weight);
    font-size: var(--comp-dialog-headline-size);
    line-height: var(--comp-dialog-headline-height);
}

.comp-dialog .supporting-text {
    color: var(--comp-dialog-supporting-text-color);
    font-family: var(--comp-dialog-supporting-text-font);
    font-weight: var(--comp-dialog-supporting-text-weight);
    font-size: var(--comp-dialog-supporting-text-size);
    line-height: var(--comp-dialog-supporting-text-height);
}

.comp-dialog .actions {
    align-self: end;
    text-align: right;
    margin-top: 0.8rem;
}