:root {
    --comp-nav-rail-item-size: 1.5rem;
    --comp-nav-rail-active-indicator-shape: var(--sys-shape-corner-full);
    --comp-nav-rail-active-indicator-leading-space: 1rem;
    --comp-nav-rail-active-indicator-icon-label-space: .5rem;
    --comp-nav-rail-active-indicator-trailing-space: 1rem;
    --comp-nav-rail-container-height: 4rem;
    --comp-nav-rail-short-container-height: 4rem;
    --comp-nav-rail-container-shape: var(--sys-shape-corner-none);
    --comp-nav-rail-container-vertical-space: 0.375rem;
    --comp-nav-rail-header-space-minimum: 2.5rem;

    --comp-nav-rail-focus-ring-indicator-color: var(--sys-color-secondary);
    --comp-nav-rail-focus-ring-indicator-thickness: var(--sys-state-focus-indicator-thickness);
    /* Colors */
    --comp-nav-rail-item-active-indicator-color: var(--sys-color-secondary-container);
    --comp-nav-rail-item-active-label-text-color: var(--sys-color-secondary);
    --comp-nav-rail-item-inactive-label-text-color: var(--sys-color-on-surface-variant);
    --comp-nav-rail-item-active-icon-color: var(--sys-color-on-secondary-container);
    --comp-nav-rail-item-inactive-icon-color: var(--sys-color-on-surface-variant);

    --comp-nav-rail-item-active-hovered-state-layer-color: var(--sys-color-on-secondary-container);
    --comp-nav-rail-item-inactive-hovered-state-layer-color: var(--sys-color-on-secondary-container-rgb);
    --comp-nav-rail-item-active-hovered-state-layer-opacity: 0.08;

    --comp-nav-rail-item-active-focused-state-layer-color: var(--sys-color-on-secondary-container-rgb);
    --comp-nav-rail-item-inactive-focused-state-layer-color: var(--sys-color-on-secondary-container-rgb);
    --comp-nav-rail-item-active-focused-state-layer-opacity: 0.1;

    --comp-nav-rail-item-active-pressed-state-layer-color: var(--sys-color-on-secondary-container-rgb);
    --comp-nav-rail-item-inactive-pressed-state-layer-color: var(--sys-color-on-secondary-container-rgb);
    --comp-nav-rail-item-active-pressed-state-layer-opacity: 0.1;

    /* Collapsed */
    --comp-nav-rail-collapsed-container-width: 6rem;
    --comp-nav-rail-collapsed-narrow-container-width: 5rem;
    --comp-nav-rail-collapsed-container-elevation: var(--sys-elevation-level0);
    --comp-nav-rail-collapsed-container-shape: var(--sys-shape-corner-none);
    --comp-nav-rail-collapsed-container-color: var(--sys-color-surface);
    --comp-nav-rail-collapsed-item-vertical-space: 0.25rem;
    --comp-nav-rail-collapsed-item-vertical-space: 2.75rem;

    /* Expanded */
    --comp-nav-rail-expanded-container-width-minimum: 13.75rem;
    --comp-nav-rail-expanded-container-width-maximum: 22.5rem;
    --comp-nav-rail-expanded-top-space: 2.75rem;
    --comp-nav-rail-expanded-container-elevation: var(--sys-elevation-level0);
    --comp-nav-rail-expanded-modal-container-elevation: var(--sys-elevation-level2);
    --comp-nav-rail-expanded-container-color: var(--sys-color-surface);
    --comp-nav-rail-expanded-modal-container-color: var(--sys-color-surface-container);
    --comp-nav-rail-expanded-container-shape: var(--sys-shape-corner-none);
    --comp-nav-rail-expanded-modal-container-shape: var(--sys-shape-corner-large);

    /* Items vertical */
    --comp-nav-rail-item-vertical-active-indicator-height: 2rem;
    --comp-nav-rail-item-vertical-active-indicator-width: 3.5rem;
    --comp-nav-rail-item-vertical-label-text-font: var(--sys-typescale-label-medium-font);
    --comp-nav-rail-item-vertical-label-text-weight: var(--sys-typescale-label-medium-weight);
    --comp-nav-rail-item-vertical-label-text-size: var(--sys-typescale-label-medium-size);
    --comp-nav-rail-item-vertical-label-text-line-height: var(--sys-typescale-label-medium-line-height);
    --comp-nav-rail-item-vertical-label-text-tracking: var(--sys-typescale-label-medium-tracking);
    --comp-nav-rail-item-vertical-icon-label-space: 0.25rem;
    --comp-nav-rail-item-vertical-leading-space: 1rem;
    --comp-nav-rail-item-vertical-trailing-space: 1rem;

    /* Items horizontal */
    --comp-nav-rail-item-horizontal-active-indicator-height: 3.5rem;
    --comp-nav-rail-item-horizontal-full-width-leading-space: 1rem;
    --comp-nav-rail-item-horizontal-full-width-trailing-space: 1rem;
    --comp-nav-rail-item-horizontal-icon-label-space: 05rem;
    --comp-nav-rail-item-horizontal-label-text-font: var(--sys-typescale-label-large-font);
    --comp-nav-rail-item-horizontal-label-text-weight: var(--sys-typescale-label-large-weight);
    --comp-nav-rail-item-horizontal-label-text-size: var(--sys-typescale-label-large-size);
    --comp-nav-rail-item-horizontal-label-text-line-height: var(--sys-typescale-label-large-line-height);
    --comp-nav-rail-item-horizontal-label-text-tracking: var(--sys-typescale-label-large-tracking);

}

.comp-navrail {
    flex: 1;
    width: var(--comp-nav-rail-collapsed-container-width);
    max-width: var(--comp-nav-rail-collapsed-container-width);
    background-color: var(--comp-nav-rail-collapsed-container-color);
    box-shadow: var(--comp-nav-rail-collapsed-container-elevation);
    border-radius: var(--comp-nav-rail-collapsed-container-shape);
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    height: 100dvh;
    padding-top: var(--comp-nav-rail-header-space-minimum);
}

.comp-navrail .item {
    font-family: var(--sys-typescale-label-medium-font);
    font-weight: var(--sys-typescale-label-medium-weight);
    font-size: var(--sys-typescale-label-medium-size);
    line-height: var(--sys-typescale-label-medium-line-height);

    padding-top: var(--comp-nav-rail-active-indicator-leading-space);
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;
    outline-offset: var(--sys-state-focus-indicator-outer-offset);
}

.comp-navrail .item button .text {
    pointer-events: none;
}


.comp-navrail .item button {
    background-color: transparent;
    border: none;
    position: relative;
    outline: none;
    text-align: center;
    outline-offset: var(--sys-state-focus-indicator-outer-offset);
}


.comp-navrail .item button .icon {
    width: var(--comp-nav-rail-item-vertical-active-indicator-width);
    max-width: var(--comp-nav-rail-item-vertical-active-indicator-width);
    height: var(--comp-nav-rail-item-vertical-active-indicator-height);
    border-radius: var(--comp-nav-rail-active-indicator-shape);
    align-content: center;
    text-align: center;
    justify-self: center;
}

.comp-navrail .item button .icon::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: var(--comp-nav-rail-item-vertical-active-indicator-width);
    height: var(--comp-nav-rail-item-vertical-active-indicator-height);
    padding: inherit;
    border: none;
    background-color: var(--comp-nav-rail-item-active-hovered-state-layer-color);
    border-radius: inherit;
    border: none;
    z-index: 1;
    opacity: 0;
    transition: opacity var(--sys-motion-duration-short2);
    transition-timing-function: var(--sys-motion-easing-emphasized);
}

.comp-navrail .item button:hover .icon::before {
    opacity: var(--comp-button-hovered-container-layer-state-opacity);
}

.comp-navrail .item button:focus .icon {
    outline: var(--comp-nav-rail-focus-ring-indicator-thickness) solid var(--comp-nav-rail-focus-ring-indicator-color);
}

.comp-navrail .item button:focus-within .icon {
    outline: var(--comp-nav-rail-focus-ring-indicator-thickness) solid var(--comp-nav-rail-focus-ring-indicator-color);
}


.comp-navrail .item button:focus .icon::before {
    opacity: var(--comp-button-focused-container-layer-state-opacity);
}

.comp-navrail .item button:active .icon::before {
    opacity: var(--comp-button-pressed-container-layer-state-opacity);
}

.comp-navrail .item button:hover {
    cursor: pointer;
    outline: var(--sys-state-focus-indicator-thickness);
}

.comp-navrail .item button:hover .icon {}

.comp-navrail .item label,
.comp-navrail .item button .text {
    color: var(--comp-nav-rail-item-active-label-text-color);
    font-family: var(--comp-nav-rail-item-vertical-label-text-font);
    font-weight: var(--comp-nav-rail-item-vertical-label-text-weight);
    font-size: var(--comp-nav-rail-item-vertical-label-text-size);
    line-height: var(--comp-nav-rail-item-vertical-label-text-line-height);
}

.comp-navrail .item.active button {
    color: var(--comp-nav-rail-item-active-label-text-color);
}

.comp-navrail .item.active button .icon {
    background-color: var(--comp-nav-rail-item-active-indicator-color);
    color: var(--comp-nav-rail-item-active-icon-color);
    font-variation-settings: 'FILL' 1;
}

.comp-navrail .item.active button .icon .material-icons {
    font-variation-settings: 'FILL' 1;
}