:root {
    --ref-space-0: 0rem;
    --ref-space-1: 0.25rem;
    --ref-space-2: 0.5rem;
    --ref-space-3: 0.75rem;
    --ref-space-4: 1rem;
    --ref-space-5: 1.5rem;
    --ref-space-6: 2rem;
    --ref-space-7: 2.5rem;
    --ref-space-8: 3rem;
}
.w-100 {
    width: 100%;
}
.h-100 {
    height: 100%;
}
.p-0 {
    padding: var(--ref-space-0);
}
.pt-0 {
    padding-top: var(--ref-space-0);
}
.pr-0 {
    padding-right: var(--ref-space-0);
}
.pb-0 {
    padding-bottom: var(--ref-space-0);
}
.pl-0 {
    padding-left: var(--ref-space-0);
}
.px-0 {
    padding-left: var(--ref-space-0);
    padding-right: var(--ref-space-0);
}
.py-0 {
    padding-top: var(--ref-space-0);
    padding-bottom: var(--ref-space-0);
}
.p-1 {
    padding: var(--ref-space-1);
}
.pt-1 {
    padding-top: var(--ref-space-1);
}
.pr-1 {
    padding-right: var(--ref-space-1);
}
.pb-1 {
    padding-bottom: var(--ref-space-1);
}
.pl-1 {
    padding-left: var(--ref-space-1);
}
.px-1 {
    padding-left: var(--ref-space-1);
    padding-right: var(--ref-space-1);
}
.py-1 {
    padding-top: var(--ref-space-1);
    padding-bottom: var(--ref-space-1);
}
.p-2 {
    padding: var(--ref-space-2);
}
.pt-2 {
    padding-top: var(--ref-space-2);
}
.pr-2 {
    padding-right: var(--ref-space-2);
}
.pb-2 {
    padding-bottom: var(--ref-space-2);
}
.pl-2 {
    padding-left: var(--ref-space-2);
}
.px-2 {
    padding-left: var(--ref-space-2);
    padding-right: var(--ref-space-2);
}
.py-2 {
    padding-top: var(--ref-space-2);
    padding-bottom: var(--ref-space-2);
}
.p-3 {
    padding: var(--ref-space-3);
}
.pt-3 {
    padding-top: var(--ref-space-3);
}
.pr-3 {
    padding-right: var(--ref-space-3);
}
.pb-3 {
    padding-bottom: var(--ref-space-3);
}
.pl-3 {
    padding-left: var(--ref-space-3);
}
.px-3 {
    padding-left: var(--ref-space-3);
    padding-right: var(--ref-space-3);
}
.py-3 {
    padding-top: var(--ref-space-3);
    padding-bottom: var(--ref-space-3);
}
.p-4 {
    padding: var(--ref-space-4);
}
.pt-4 {
    padding-top: var(--ref-space-4);
}
.pr-4 {
    padding-right: var(--ref-space-4);
}
.pb-4 {
    padding-bottom: var(--ref-space-4);
}
.pl-4 {
    padding-left: var(--ref-space-4);
}
.px-4 {
    padding-left: var(--ref-space-4);
    padding-right: var(--ref-space-4);
}
.py-4 {
    padding-top: var(--ref-space-4);
    padding-bottom: var(--ref-space-4);
}
.p-5 {
    padding: var(--ref-space-5);
}
.pt-5 {
    padding-top: var(--ref-space-5);
}
.pr-5 {
    padding-right: var(--ref-space-5);
}
.pb-5 {
    padding-bottom: var(--ref-space-5);
}
.pl-5 {
    padding-left: var(--ref-space-5);
}
.px-5 {
    padding-left: var(--ref-space-5);
    padding-right: var(--ref-space-5);
}
.py-5 {
    padding-top: var(--ref-space-5);
    padding-bottom: var(--ref-space-5);
}
.p-6 {
    padding: var(--ref-space-6);
}
.pt-6 {
    padding-top: var(--ref-space-6);
}
.pr-6 {
    padding-right: var(--ref-space-6);
}
.pb-6 {
    padding-bottom: var(--ref-space-6);
}
.pl-6 {
    padding-left: var(--ref-space-6);
}
.px-6 {
    padding-left: var(--ref-space-6);
    padding-right: var(--ref-space-6);
}
.py-6 {
    padding-top: var(--ref-space-6);
    padding-bottom: var(--ref-space-6);
}
.p-7 {
    padding: var(--ref-space-7);
}
.pt-7 {
    padding-top: var(--ref-space-7);
}
.pr-7 {
    padding-right: var(--ref-space-7);
}
.pb-7 {
    padding-bottom: var(--ref-space-7);
}
.pl-7 {
    padding-left: var(--ref-space-7);
}
.px-7 {
    padding-left: var(--ref-space-7);
    padding-right: var(--ref-space-7);
}
.py-7 {
    padding-top: var(--ref-space-7);
    padding-bottom: var(--ref-space-7);
}
.p-8 {
    padding: var(--ref-space-8);
}
.pt-8 {
    padding-top: var(--ref-space-8);
}
.pr-8 {
    padding-right: var(--ref-space-8);
}
.pb-8 {
    padding-bottom: var(--ref-space-8);
}
.pl-8 {
    padding-left: var(--ref-space-8);
}
.px-8 {
    padding-left: var(--ref-space-8);
    padding-right: var(--ref-space-8);
}
.py-8 {
    padding-top: var(--ref-space-8);
    padding-bottom: var(--ref-space-8);
}
.m-0 {
    margin: var(--ref-space-0);
}
.mt-0 {
    margin-top: var(--ref-space-0);
}
.mr-0 {
    margin-right: var(--ref-space-0);
}
.mb-0 {
    margin-bottom: var(--ref-space-0);
}
.ml-0 {
    margin-left: var(--ref-space-0);
}
.mx-0 {
    margin-left: var(--ref-space-0);
    margin-right: var(--ref-space-0);
}
.my-0 {
    margin-top: var(--ref-space-0);
    margin-bottom: var(--ref-space-0);
}
.m-1 {
    margin: var(--ref-space-1);
}
.mt-1 {
    margin-top: var(--ref-space-1);
}
.mr-1 {
    margin-right: var(--ref-space-1);
}
.mb-1 {
    margin-bottom: var(--ref-space-1);
}
.ml-1 {
    margin-left: var(--ref-space-1);
}
.mx-1 {
    margin-left: var(--ref-space-1);
    margin-right: var(--ref-space-1);
}
.my-1 {
    margin-top: var(--ref-space-1);
    margin-bottom: var(--ref-space-1);
}
.m-2 {
    margin: var(--ref-space-2);
}
.mt-2 {
    margin-top: var(--ref-space-2);
}
.mr-2 {
    margin-right: var(--ref-space-2);
}
.mb-2 {
    margin-bottom: var(--ref-space-2);
}
.ml-2 {
    margin-left: var(--ref-space-2);
}
.mx-2 {
    margin-left: var(--ref-space-2);
    margin-right: var(--ref-space-2);
}
.my-2 {
    margin-top: var(--ref-space-2);
    margin-bottom: var(--ref-space-2);
}
.m-3 {
    margin: var(--ref-space-3);
}
.mt-3 {
    margin-top: var(--ref-space-3);
}
.mr-3 {
    margin-right: var(--ref-space-3);
}
.mb-3 {
    margin-bottom: var(--ref-space-3);
}
.ml-3 {
    margin-left: var(--ref-space-3);
}
.mx-3 {
    margin-left: var(--ref-space-3);
    margin-right: var(--ref-space-3);
}
.my-3 {
    margin-top: var(--ref-space-3);
    margin-bottom: var(--ref-space-3);
}
.m-4 {
    margin: var(--ref-space-4);
}
.mt-4 {
    margin-top: var(--ref-space-4);
}
.mr-4 {
    margin-right: var(--ref-space-4);
}
.mb-4 {
    margin-bottom: var(--ref-space-4);
}
.ml-4 {
    margin-left: var(--ref-space-4);
}
.mx-4 {
    margin-left: var(--ref-space-4);
    margin-right: var(--ref-space-4);
}
.my-4 {
    margin-top: var(--ref-space-4);
    margin-bottom: var(--ref-space-4);
}
.m-5 {
    margin: var(--ref-space-5);
}
.mt-5 {
    margin-top: var(--ref-space-5);
}
.mr-5 {
    margin-right: var(--ref-space-5);
}
.mb-5 {
    margin-bottom: var(--ref-space-5);
}
.ml-5 {
    margin-left: var(--ref-space-5);
}
.mx-5 {
    margin-left: var(--ref-space-5);
    margin-right: var(--ref-space-5);
}
.my-5 {
    margin-top: var(--ref-space-5);
    margin-bottom: var(--ref-space-5);
}
.m-6 {
    margin: var(--ref-space-6);
}
.mt-6 {
    margin-top: var(--ref-space-6);
}
.mr-6 {
    margin-right: var(--ref-space-6);
}
.mb-6 {
    margin-bottom: var(--ref-space-6);
}
.ml-6 {
    margin-left: var(--ref-space-6);
}
.mx-6 {
    margin-left: var(--ref-space-6);
    margin-right: var(--ref-space-6);
}
.my-6 {
    margin-top: var(--ref-space-6);
    margin-bottom: var(--ref-space-6);
}
.m-7 {
    margin: var(--ref-space-7);
}
.mt-7 {
    margin-top: var(--ref-space-7);
}
.mr-7 {
    margin-right: var(--ref-space-7);
}
.mb-7 {
    margin-bottom: var(--ref-space-7);
}
.ml-7 {
    margin-left: var(--ref-space-7);
}
.mx-7 {
    margin-left: var(--ref-space-7);
    margin-right: var(--ref-space-7);
}
.my-7 {
    margin-top: var(--ref-space-7);
    margin-bottom: var(--ref-space-7);
}
.m-8 {
    margin: var(--ref-space-8);
}
.mt-8 {
    margin-top: var(--ref-space-8);
}
.mr-8 {
    margin-right: var(--ref-space-8);
}
.mb-8 {
    margin-bottom: var(--ref-space-8);
}
.ml-8 {
    margin-left: var(--ref-space-8);
}
.mx-8 {
    margin-left: var(--ref-space-8);
    margin-right: var(--ref-space-8);
}
.my-8 {
    margin-top: var(--ref-space-8);
    margin-bottom: var(--ref-space-8);
}
.gap-inherit { 
    gap : inherit;
}
.gap-0 {
    gap: var(--ref-space-0);
}
.row-gap-0 {
    row-gap: var(--ref-space-0);
}
.col-gap-0 {
    column-gap: var(--ref-space-0);
}
.gap-1 {
    gap: var(--ref-space-1);
}
.row-gap-1 {
    row-gap: var(--ref-space-1);
}
.col-gap-1 {
    column-gap: var(--ref-space-1);
}
.gap-2 {
    gap: var(--ref-space-2);
}
.row-gap-2 {
    row-gap: var(--ref-space-2);
}
.col-gap-2 {
    column-gap: var(--ref-space-2);
}
.gap-3 {
    gap: var(--ref-space-3);
}
.row-gap-3 {
    row-gap: var(--ref-space-3);
}
.col-gap-3 {
    column-gap: var(--ref-space-3);
}
.gap-4 {
    gap: var(--ref-space-4);
}
.row-gap-4 {
    row-gap: var(--ref-space-4);
}
.col-gap-4 {
    column-gap: var(--ref-space-4);
}
.gap-5 {
    gap: var(--ref-space-5);
}
.row-gap-5 {
    row-gap: var(--ref-space-5);
}
.col-gap-5 {
    column-gap: var(--ref-space-5);
}
.gap-6 {
    gap: var(--ref-space-6);
}
.row-gap-6 {
    row-gap: var(--ref-space-6);
}
.col-gap-6 {
    column-gap: var(--ref-space-6);
}
.gap-7 {
    gap: var(--ref-space-7);
}
.row-gap-7 {
    row-gap: var(--ref-space-7);
}
.col-gap-7 {
    column-gap: var(--ref-space-7);
}
.gap-8 {
    gap: var(--ref-space-8);
}
.row-gap-8 {
    row-gap: var(--ref-space-8);
}
.col-gap-8 {
    column-gap: var(--ref-space-8);
}
.inset-0 {
    inset: var(--ref-space-0);
}
.top-0 {
    top: var(--ref-space-0);
}
.right-0 {
    right: var(--ref-space-0);
}
.bottom-0 {
    bottom: var(--ref-space-0);
}
.left-0 {
    left: var(--ref-space-0);
}
.inset-1 {
    inset: var(--ref-space-1);
}
.top-1 {
    top: var(--ref-space-1);
}
.right-1 {
    right: var(--ref-space-1);
}
.bottom-1 {
    bottom: var(--ref-space-1);
}
.left-1 {
    left: var(--ref-space-1);
}
.inset-2 {
    inset: var(--ref-space-2);
}
.top-2 {
    top: var(--ref-space-2);
}
.right-2 {
    right: var(--ref-space-2);
}
.bottom-2 {
    bottom: var(--ref-space-2);
}
.left-2 {
    left: var(--ref-space-2);
}
.inset-3 {
    inset: var(--ref-space-3);
}
.top-3 {
    top: var(--ref-space-3);
}
.right-3 {
    right: var(--ref-space-3);
}
.bottom-3 {
    bottom: var(--ref-space-3);
}
.left-3 {
    left: var(--ref-space-3);
}
.inset-4 {
    inset: var(--ref-space-4);
}
.top-4 {
    top: var(--ref-space-4);
}
.right-4 {
    right: var(--ref-space-4);
}
.bottom-4 {
    bottom: var(--ref-space-4);
}
.left-4 {
    left: var(--ref-space-4);
}
.inset-5 {
    inset: var(--ref-space-5);
}
.top-5 {
    top: var(--ref-space-5);
}
.right-5 {
    right: var(--ref-space-5);
}
.bottom-5 {
    bottom: var(--ref-space-5);
}
.left-5 {
    left: var(--ref-space-5);
}
.inset-6 {
    inset: var(--ref-space-6);
}
.top-6 {
    top: var(--ref-space-6);
}
.right-6 {
    right: var(--ref-space-6);
}
.bottom-6 {
    bottom: var(--ref-space-6);
}
.left-6 {
    left: var(--ref-space-6);
}
.inset-7 {
    inset: var(--ref-space-7);
}
.top-7 {
    top: var(--ref-space-7);
}
.right-7 {
    right: var(--ref-space-7);
}
.bottom-7 {
    bottom: var(--ref-space-7);
}
.left-7 {
    left: var(--ref-space-7);
}
.inset-8 {
    inset: var(--ref-space-8);
}
.top-8 {
    top: var(--ref-space-8);
}
.right-8 {
    right: var(--ref-space-8);
}
.bottom-8 {
    bottom: var(--ref-space-8);
}
.left-8 {
    left: var(--ref-space-8);
}
